.app-wrapper {
    margin: 20px 100px;
}

.weather-app {
    padding: 10px;
    background-color: #E4F6F5;
    border: solid 6px;
    border-color: #76D1CB;
    border-radius: 10%;
}

.searchengine {
    padding: 50px 20px 5px;
}

.typecityform {
    height: 50px;
    width: 600px;
    background-color: #dfa6bc;
    border: solid 2px;
    border-radius: 5px;
    border-color: #be2d54;
}

.searchform {
    height: 50px;
    width: 200px;
    background-color: #8ce9e3;
    border: solid 2px;
    border-radius: 5px;
    border-color: #169990;
    transition: all 150ms ease-in-out;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.searchform.hover {
    background-color: #052b28;
    cursor: pointer;
}

.today {
    text-align: center;
    padding: 20px 15px 10px;
}

.todayweather {
    display: block;
}

.forecast {
    padding: 5px 15px 30px;
}

.black {
    color: black;
}

h2 {
    color: #E4426E;
    font-size: 40px;
}

h1 {
    font-size: 50px;
    color: black;
}

h6 {
    display: inline;
}

.card-body {
    text-align: center;
    background-color: #E4F6F5;
}

.card-title {
    font-size: 30px;
}

p {
    font-size: 30px;
}

h5,
h6 {
    color: #E4426E;
}

p {
    color: #19ADA3
}

h1,
h2,
h5,
h6,
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sun {
    color: #FFA726;
    font-size: 30px;
}

.todayweatherimg {
    color: #FFA726;
    font-size: 50px;
}

.rain {
    color: #42A5F5;
    font-size: 30px;
}