.app-wrapper {
    margin: 20px 100px;
}

.weather-app {
    padding: 10px;
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    border: solid 6px;
    border-color: #76D1CB;
    border-radius: 10%;
}

.searchengine {
    padding: 50px 20px 5px;
}

.typecityform {
    height: 50px;
    width: 600px;
    background-color: #dfa6bc;
    border: solid 2px;
    border-radius: 5px;
    border-color: #be2d54;
}

.searchform {
    height: 50px;
    width: 200px;
    background-color: #8ce9e3;
    border: solid 2px;
    border-radius: 5px;
    border-color: #169990;
    transition: all 200ms ease-in-out;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.searchform.hover {
    background-color: #052b28;
    cursor: pointer;
}

.today {
    text-align: center;
    padding: 20px 15px;
}

.todayweather {
    display: block;
}

.forecast {
    padding: 10px 15px 30px;
}

.black {
    color: black;
}

.card-body {
    text-align: center;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.card-title {
    font-size: 30px;
}

.sun {
    color: #FFA726;
    font-size: 30px;
}

.todayweatherimg {
    color: #FFA726;
    font-size: 40px;
}

.rain {
    color: #42A5F5;
    font-size: 30px;
}

.units {
    font-size: 15px;
    font-weight: bolder;
    position: relative;
    top: -25px;
    text-decoration: none;
}

.active {
    color: black;
    text-decoration: none;
}

.active.hoover {
    text-decoration: none;
    cursor: default;
}

.temperature {
    font-size: 40px;
    font-weight: bolder;
    color: black;
}

h1 {
    font-size: 50px;
    color: black;
}

h2 {
    color: #E4426E;
    font-size: 40px;
}

h6 {
    display: inline;
}

p {
    font-size: 30px;
    color: #19ADA3
}

h5,
h6 {
    color: #E4426E;
}

h1,
h2,
h5,
h6,
p,
.units,
.temperature {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}