.weather-app {
    display: block;
    margin: 30px auto;
    max-width: 900px;
    padding: 10px;
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    border: solid 6px;
    border-color: #76D1CB;
    border-radius: 40px;
}

.additional-surprise {
    padding: 10px 20px;
}

.extra-image {
    width: 150px;
    height: 150px;
}

.searchengine {
    padding: 10px 17px 5px;
}

.typecityform {
    height: 50px;
    width: 600px;
    max-width: 100%;
    background-color: #dfa6bc;
    border: solid 2px;
    border-radius: 5px;
    border-color: #be2d54;
    box-shadow: 5px 5px 5px black;
}

.searchform {
    height: 50px;
    width: 200px;
    max-width: 100%;
    background-color: #8ce9e3;
    border: solid 2px;
    border-radius: 5px;
    border-color: #169990;
    transition: all 150ms ease-in-out;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 5px black;
}

.searchform:hover {
    background-color: #0e776e;
    cursor: pointer;
    color: whitesmoke;
}

.today {
    text-align: center;
    padding: 20px 15px;
}

.todayweather {
    display: block;
}

.forecast {
    padding: 10px 15px 30px;
}

.black {
    color: black;
}

.card-body {
    text-align: center;
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    border-color: #be2d54;
    box-shadow: 3px 3px 3px black;
}

.card-title {
    font-size: 30px;
    max-width: 100%;
}

.units {
    font-size: 15px;
    font-weight: bolder;
    position: relative;
    top: -25px;
    text-decoration: none;
}

.active {
    color: black;
    text-decoration: none;
}

.active:hover {
    text-decoration: none;
    cursor: default;
}

.temperature {
    font-size: 40px;
    font-weight: bolder;
    color: black;
}

.weather-forecast-temperature {
    font-size: 20px;
}

.Git-link {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #0e776e;
    font-style: italic;
    text-decoration: none;
}

.icon {
    max-width: 100%;
}

h1 {
    font-size: 50px;
    color: black;
    font-style: italic;
    max-width: 100%;
}

h2 {
    color: #E4426E;
    font-size: 35px;
}

h6 {
    display: inline;
    max-width: 100%;
}

p {
    font-size: 30px;
    color: #19ADA3
}

h5,
h6 {
    color: #E4426E;
}

h1,
h2,
h5,
h6,
p,
.units,
.temperature {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}